* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container80 {
  width: 80%;
  margin: auto;
}

.container95 {
  width: 95%;
  margin: auto;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #FFFFFF;
}

.header .header-logo img {
  width: 180px;
  height: 45px;
  margin-top: 15px;
}

.header .header-text {
  padding-top: 25px;
}

.header .header-text ul {
  list-style: none;
}

.header .header-text ul li {
  padding-right: 15px;
}

.header .header-text ul .home-li {
  height: 50px;
  cursor: pointer;
  position: relative;
}

.header .header-text ul .home-li:hover ::after {
  width: 100%;
}

.header .header-text ul .home-li ::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 3px;
  bottom: 0%;
  left: 0%;
  background-color: blue;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .header-text ul .home-li a {
  text-decoration: none;
  color: #878787;
  font-weight: 500;
}

.header .header-text ul .posts-li {
  height: 50px;
  cursor: pointer;
  position: relative;
}

.header .header-text ul .posts-li:hover ::after {
  width: 100%;
}

.header .header-text ul .posts-li ::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 3px;
  bottom: 0%;
  left: 0%;
  background-color: blue;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .header-text ul .posts-li a {
  text-decoration: none;
  color: #878787;
  font-weight: 500;
}

.header .header-text ul .mega-li {
  height: 50px;
  cursor: pointer;
  position: relative;
}

.header .header-text ul .mega-li:hover ::after {
  width: 100%;
}

.header .header-text ul .mega-li ::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 3px;
  bottom: 0%;
  left: 0%;
  background-color: blue;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .header-text ul .mega-li a {
  text-decoration: none;
  color: #878787;
  font-weight: 500;
}

.header .header-text ul .pages-li {
  height: 50px;
  cursor: pointer;
  position: relative;
}

.header .header-text ul .pages-li:hover ::after {
  width: 100%;
}

.header .header-text ul .pages-li ::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 3px;
  bottom: 0%;
  left: 0%;
  background-color: blue;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .header-text ul .pages-li a {
  text-decoration: none;
  color: #878787;
  font-weight: 500;
}

.header .header-text ul .normal-li {
  height: 50px;
  cursor: pointer;
  position: relative;
}

.header .header-text ul .normal-li:hover ::after {
  width: 100%;
}

.header .header-text ul .normal-li ::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 3px;
  bottom: 0%;
  left: 0%;
  background-color: blue;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .header-text ul .normal-li a {
  text-decoration: none;
  color: #878787;
  font-weight: 500;
}

.header .header-search {
  padding-top: 25px;
}

.header .header-search .search-section {
  width: 220px;
  height: 33px;
  border: none;
  border-radius: 40px;
  background-color: #F0F2F5;
}

.header .header-search .search-section i {
  font-size: 1rem;
  color: #555;
  font-weight: 400;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: 10px;
}

.header .header-search .search-section input {
  border: 1px solid transparent;
  width: 100px;
  height: 25px;
  background-color: transparent;
  font-size: 0.9rem;
  padding-left: 15px;
  margin-top: 4px;
  outline: none;
}

.header .header-search ul {
  list-style: none;
}

.header .header-search ul .li-icon {
  border-radius: 50%;
  background-color: #e2e2e2;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.header .header-search ul .li-icon:hover {
  background-color: #3858F6;
}

.header .header-search ul .li-icon:hover i {
  color: #fff;
}

.header .header-search ul .li-icon i {
  font-size: 0.8rem;
  padding-left: 10px;
  padding-top: 9px;
}

.header .header-search ul .li-photo {
  border-radius: 50%;
  background-color: #e2e2e2;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.header .header-search ul .li-photo img {
  width: 100%;
}

.fingers {
  width: 100%;
  height: 100vh;
  background-color: #F0F2F5;
}

.fingers .inner-fingers .upper-fingers {
  position: relative;
  width: 100%;
  height: 80vh;
}

.fingers .inner-fingers .upper-fingers a {
  border-radius: 0 0 10px 10px;
}

.fingers .inner-fingers .upper-fingers a img {
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.more {
  width: 100%;
  height: 50vh;
  background-color: #F0F2F5;
}

.more .more-top h3 {
  font-size: 2rem;
  font-weight: 700;
}

.more .more-bottom .more-boxes {
  border: 1px solid red;
  background-color: #F0F2F5;
}

.more .more-bottom .more-boxes:hover .boxes-left .boxes-left-center h4 span::after {
  width: 100%;
}

.more .more-bottom .more-boxes .boxes-left {
  padding-top: 15px;
}

.more .more-bottom .more-boxes .boxes-left .boxes-left-top a {
  text-decoration: none;
  color: #D93E40;
  font-size: 0.8rem;
  font-weight: 500;
}

.more .more-bottom .more-boxes .boxes-left .boxes-left-center {
  padding-top: 15px;
}

.more .more-bottom .more-boxes .boxes-left .boxes-left-center h4 span {
  position: relative;
  font-weight: 700;
}

.more .more-bottom .more-boxes .boxes-left .boxes-left-center h4 span::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #000000;
  width: 0%;
  bottom: 0%;
  left: 0%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.featured {
  width: 100%;
  height: 120vh;
  background-color: #1A1A1A;
}

.featured .featured-title {
  padding-top: 70px;
}

.featured .featured-title h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

.featured .featured-main {
  height: 100vh;
  padding-top: 25px;
}

.featured .featured-main .left-featured:hover .left-featured-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.featured .featured-main .left-featured .left-featured-image {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  height: 470px;
}

.featured .featured-main .left-featured .left-featured-image img {
  width: 100%;
  height: 470px;
  border-radius: 15px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.featured .featured-main .left-featured .left-featured-image .inner-left-featured-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured .featured-main .left-featured .left-featured-image .inner-left-featured-image .inner-left-featured-image-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F0F2F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.featured .featured-main .left-featured .left-featured-image .inner-left-featured-image .inner-left-featured-image-icon:hover {
  width: 90px;
  height: 90px;
}

.featured .featured-main .left-featured .left-featured-image .inner-left-featured-image .inner-left-featured-image-icon i {
  color: #000000;
  font-size: 0.8rem;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-top {
  padding-top: 20px;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-top a {
  text-decoration: none;
  color: #D93E40;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-top a:hover {
  color: #3858F6;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-center {
  padding-top: 15px;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-center h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  position: relative;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom {
  padding-top: 15px;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-ismat:hover a {
  color: #3858F6;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-ismat a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-ismat ul {
  padding: 0%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-ismat ul li {
  padding-top: 5px;
  color: #878787;
  font-size: 0.8rem;
  padding-right: 12px;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-ismat ul li.li-with-dot {
  position: relative;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-ismat ul li.li-with-dot::after {
  position: absolute;
  content: "  ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 52%;
  right: 4px;
  background-color: #878787;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-socials ul {
  padding-top: 20px;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-socials ul li {
  padding-right: 10px;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-socials ul li a {
  text-decoration: none;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-socials ul li a i {
  color: #878787;
  font-size: 0.9rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.featured .featured-main .left-featured .left-featured-text .left-featured-text-bottom .featured-socials ul li a i:hover {
  color: #3858F6;
}

.featured .featured-main .right-featured {
  margin-left: 10px;
}

.featured .featured-main .right-featured .featured-boxes {
  padding-bottom: 15px;
}

.featured .featured-main .right-featured .featured-boxes:hover .featured-boxes-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-image {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-image a img {
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-image .inner-featured-boxes-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-image .inner-featured-boxes-image .icon-inner-featured-boxes-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-image .inner-featured-boxes-image .icon-inner-featured-boxes-image:hover {
  width: 50px;
  height: 50px;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-image .inner-featured-boxes-image .icon-inner-featured-boxes-image a {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-image .inner-featured-boxes-image .icon-inner-featured-boxes-image a i {
  color: #000000;
  font-size: 0.8rem;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-text {
  padding-top: 20px;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-text .featured-boxes-text-top a {
  text-decoration: none;
  color: #D93E40;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-text .featured-boxes-text-top a:hover {
  color: #3858F6;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-text .featured-boxes-text-bottom {
  padding-top: 10px;
}

.featured .featured-main .right-featured .featured-boxes .featured-boxes-text .featured-boxes-text-bottom a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 0.8;
}

.instagram {
  width: 100%;
  height: 60vh;
  background-color: #F0F2F5;
}

.instagram .top-instagram {
  padding-top: 80px;
}

.instagram .top-instagram h2 {
  color: #000000;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 2.7rem;
  font-family: 'Oswald', sans-serif;
}

.instagram .bottom-instagram {
  padding-top: 25px;
}

.instagram .bottom-instagram .instagram-boxes {
  border-radius: 15px;
  position: relative;
  width: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.instagram .bottom-instagram .instagram-boxes:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.instagram .bottom-instagram .instagram-boxes:hover .inner-instagram-boxes {
  visibility: visible;
  opacity: 1;
}

.instagram .bottom-instagram .instagram-boxes a {
  text-decoration: none;
}

.instagram .bottom-instagram .instagram-boxes a img {
  width: 100%;
  border-radius: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.instagram .bottom-instagram .instagram-boxes .inner-instagram-boxes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.instagram .bottom-instagram .instagram-boxes .inner-instagram-boxes .inner-icon {
  width: 40px;
  height: 40px;
  background-color: #E2E6F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.instagram .bottom-instagram .instagram-boxes .inner-instagram-boxes .inner-icon:hover {
  background-color: #3858F6;
}

.instagram .bottom-instagram .instagram-boxes .inner-instagram-boxes .inner-icon:hover i {
  color: #fff;
}

.instagram .bottom-instagram .instagram-boxes .inner-instagram-boxes .inner-icon i {
  font-size: 1rem;
  font-weight: 200;
  color: #65676B;
}

.footer {
  width: 100%;
  height: 95vh;
  background-color: #FFFFFF;
}

.footer .top-footer {
  padding-top: 150px;
  padding-bottom: 70px;
}

.footer .top-footer .footer-cols h2 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  padding-bottom: 15px;
}

.footer .top-footer .footer-cols ul {
  list-style: none;
  padding: 0%;
}

.footer .top-footer .footer-cols ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .top-footer .footer-cols ul li a:hover {
  color: #3858F6;
}

.footer .center-footer {
  position: relative;
  padding: 25px 0;
  margin-bottom: 30px;
}

.footer .center-footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #CED0D4;
  top: 0;
  left: 0;
  right: 0;
}

.footer .center-footer::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #CED0D4;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .center-footer .center-footer-logo img {
  width: 35%;
}

.footer .center-footer .center-footer-text h5 {
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer .center-footer .center-footer-text .footer-icon {
  border-radius: 50%;
  background-color: #e2e2e2;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .center-footer .center-footer-text .footer-icon:hover {
  background-color: #3858F6;
}

.footer .center-footer .center-footer-text .footer-icon:hover i {
  color: #fff;
}

.footer .center-footer .center-footer-text .footer-icon i {
  font-size: 1rem;
  font-weight: 400;
}

.footer .bottom-footer .bottom-footer-contact ul {
  padding: 0%;
  list-style: none;
}

.footer .bottom-footer .bottom-footer-contact ul li {
  padding-right: 25px;
}

.footer .bottom-footer .bottom-footer-contact ul li a {
  text-decoration: none;
  color: #878787;
  font-size: 18px;
  font-weight: 500;
}

.footer .bottom-footer .bottom-footer-contact ul li a:hover {
  color: #3858F6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer .bottom-footer .bottom-footer-copyright p {
  color: #878787;
  font-size: 14px;
}

@media (max-width: 768px) {
  .header {
    height: 70px;
  }
  .header .header-logo {
    display: block;
    z-index: 100;
  }
  .header .header-text {
    display: none;
  }
  .header .header-search {
    display: none;
  }
  .featured {
    height: 330vh;
  }
  .featured .featured-main .right-featured {
    padding-top: 20px;
  }
  .featured .featured-main .right-featured .featured-boxes .featured-boxes-text .featured-boxes-text-bottom a {
    font-size: 1rem;
    font-weight: 700;
  }
  .instagram {
    height: 120vh;
  }
  .instagram .bottom-instagram .instagram-boxes {
    padding-top: 25px;
  }
  .footer .top-footer .footer-cols {
    padding-bottom: 25px;
  }
  .footer .center-footer {
    width: 100%;
  }
  .footer .center-footer .center-footer-logo img {
    width: 40%;
  }
  .footer .center-footer .center-footer-text {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .bottom-footer .bottom-footer-copyright {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */